body{
    background-color:#2c2a2a ;
    font-family: 'Outfit', sans-serif;

}
h1{
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    text-shadow: grey 1px 0 10px;
    
}

p{
    color: white;
    text-align: center;
}
.container{
    height: 70%;
    background-color: #1E1E1E;
    width: 50%;
    margin: auto;
    overflow: auto;
    border-radius: 34px;
}
.bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    border-radius: 30px;
    padding-left: 20px;
    width: 60%;
    height: 8%;
    margin: 30px auto 0;
}
#message{
    margin-top: 20px;
}
#typeBox{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;;

}
#addBtn{
    border: none;
    outline: none;
    background-color: #4CB843;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    width: 25%;
    height: 100%;
    cursor: pointer;
}
.tasks{
    width: 60%;
    margin: 40px auto 0;
}
.taskDiv {
    margin-bottom: 14px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    border-bottom: 1px dotted grey;
    
}

.taskDiv span{
    color: white;
    padding-right: 12px;
}
.taskDiv button{
    background-color: transparent;
    border: none;
    cursor:pointer;
}
.taskDiv button i {
    color: crimson;
}
.taskDiv button i:hover{
    position: relative;
    top: 2px;
}
.buttonsDiv button {
    padding-left: 30px;
}
.checkButton i{
    color: green !important;
}