body{
    background-color:#2c2a2a ;
    font-family: 'Montserrat', sans-serif;

}
h1{
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    text-shadow: grey 1px 0 10px;
}
p{
    color: white;
    text-align: center;
}
.container{
    height: 70%;
    background-color: #1E1E1E;
    width: 60%;
    margin: auto;
    overflow: auto;
}
.bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 30px;
    padding-left: 20px;
    width: 40%;
    height: 10%;
    margin: 30px auto 0;
}
#typeBox{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;;

}
#addBtn{
    border: none;
    outline: none;
    background-color: rgb(123, 208, 123);
    border-radius: 30px;
    color: white;
    font-weight: bold;
    padding: 19px 20px 19px 20px;
}
.tasks{
    width: 45%;
    margin: auto;
    background-color: red;
}
#para{
    text-align: left;
    font-size: 20px;
    margin-top: 40px;
}